table {
	font-family: monospace;
	border-collapse: separate;
	border-spacing: 3px;
	border: solid #87afd7;
	border-width: 5px;
}

td,
th {
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 1px 0 0 white,
		2px 0 0 #1e1e1e;
	line-height: 0.8;
}

td:last-child,
th:last-child {
	box-shadow: none;
}

th {
	text-align: left;
	border-bottom: 1px solid;
	padding-top: 5px;
}

td {
	padding-top: 3px;
	padding-bottom: 3px;
}

tbody tr:nth-child(odd) {
	background: #eee;
}

tr:hover,
tbody tr:nth-child(odd):hover {
	background: #1e1e1e;
	color: white;
}


td:hover,
th:hover {
	font-weight: bold;
}

@media (prefers-color-scheme: dark) {
	table {
		color: #bfbfbf;
	}

	tbody tr:nth-child(odd) {
		background: #303030;
	}

	tr:hover,
	tbody tr:nth-child(odd):hover {
		background: #bfbfbf;
		color: #1e1e1e;
	}

	tr:hover td,
	tr:hover th {
		box-shadow: 1px 0 0 #bfbfbf,
			2px 0 0 #1e1e1e;
	}

	td,
	th {
		box-shadow: 1px 0 0 #1e1e1e,
			2px 0 0 #bfbfbf;
	}
}