table {
	font-family: monospace;
	border-collapse: separate;
	border-spacing: 3px;
	border: solid #87afd7;
	border-width: 10px 0 10px 0;
}

td,
th {
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 1px 0 0 white,
		2px 0 0 #1e1e1e;
}

td:last-child,
th:last-child {
	box-shadow: none;
}

th {
	text-align: left;
	text-decoration: underline;
}

tr:hover,
tr:focus {
	background: #1e1e1e;
	color: white;
}

td:hover,
th:hover {
	font-weight: bold;
}

@media (prefers-color-scheme: dark) {

	tr:hover,
	tr:focus {
		background: #bfbfbf;
		color: #1e1e1e;
	}

	td,
	th {
		box-shadow: 1px 0 0 #1e1e1e,
			2px 0 0 #bfbfbf;
	}
}